.location {
    font-size: 15px;
font-weight: 700;
line-height: 28px;
letter-spacing: 3px;
text-transform: uppercase;
margin: 8px 0;
}

@media only screen and (orientation: landscape) {
    .location {
        grid-area: 3 / 1 / span 1 / span 1;
        font-size: clamp(5px, 3vh, 15px);
        line-height: clamp(10px, 3vh, 28px);
    }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
    .location {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 3.6px;
    }
}



@media only screen and (min-width: 1200px) {
    .location {
        grid-area: 3 / 1 / span 1 / span 1;
        font-size: clamp(18px, 2vh, 24px);
    }
}