.quote {
    display: grid;
    grid-template-columns: auto 16.5px;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    max-height: 25%;
}

.quote > p {
font-weight: 400;
line-height: 22px;
margin: 0 15px 8px 0;
grid-column: 1;
}

.quote > span {
font-weight: 700;
line-height: 22px;
grid-column: 1;
}

.quote > button {
    text-decoration: none;
    border: none;
    padding: 0;
    margin-bottom: auto;
    background-color: transparent;
    cursor: pointer;
    grid-column: 2;
    grid-row: 1;
}

 button:hover img {
    fill: aqua;
}



.hide {
    opacity: 0;
    max-height: 0;
}

.refresh > p {
    opacity: 0;

}

@media only screen and (min-width: 768px) {
    .quote > p {
        font-size: 18px;
font-weight: 400;
line-height: 28px;
    }

    .quote > span {
        font-size: 18px;
font-weight: 700;
line-height: 28px;
    }
}

@media only screen and (min-width: 1200px) {
    .quote {
        width: 50%;
    }
}

